.cloud-type{
    margin: 1%;
}
.card-title{
    font-weight: bold;
}
.cloud-weather{
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
}

.card{
    margin-top: 10px;
    margin-bottom: 20px;
}
/* explanin */
.btn-checked{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1%;
}

.header-title{
    font-weight: 700;
    font-size: 20px;
}

.table-responsive .table {
    overflow-x: scroll;
}
