
 html {
   background: #fff;
   color: #000;}

 body {
   margin: 0; }

 a {
   background: transparent; }
   a:focus {
     outline: thin dotted; }
   a:hover, a:active {
     outline: 0; }

 button,
 input {
   line-height: normal; }

 button,
 select {
   text-transform: none; }

 button,
 html input[type="button"],
 input[type="reset"],
 input[type="submit"] {
   -webkit-appearance: button;
   cursor: pointer; }

 button[disabled],
 input[disabled] {
   cursor: default; }

 input[type="checkbox"],
 input[type="radio"] {
   box-sizing: border-box;
   padding: 0; }

 input[type="search"] {
   -webkit-appearance: textfield;
   box-sizing: content-box; }

 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none; }

 button::-moz-focus-inner, input::-moz-focus-inner {
   border: 0;
   padding: 0; }

 textarea {
   overflow: auto;
   vertical-align: top; }

 table {
   border-collapse: collapse;
   border-spacing: 0; }

 *, *:before, *:after {
   box-sizing: border-box; }

 /*
  * Global Styles
  */

 body {
   background: #1e202b; }


 ul, ol {
   margin: 0;
   padding-left: 0; }

 a {
   text-decoration: none;
   color: #009ad8; }

 /*
  * Reusable Components Style
  */

 .button, form input[type="submit"], form button, form input[type="reset"] {
   border: none;
   background: #009ad8;
   padding: 10px 20px;
   border-radius: 30px;
   color: white; }

 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   *zoom: 1; }
   .container:after {
     content: " ";
     clear: both;
     display: block;
     overflow: hidden;
     height: 0; }
   @media (min-width: 768px) {
     .container {
       width: 750px; } }
   @media (min-width: 992px) {
     .container {
       width: 970px; } }
   @media (min-width: 1200px) {
     .container {
       width: 1170px; } }


 /*
  * Header Styles
  */
 .site-header {
   padding: 50px 0; }
   .site-header .branding {
     float: left; }
     .site-header .branding .logo, .site-header .branding .logo-type {
       display: inline-block;
       vertical-align: middle; }
     .site-header .branding .logo {
       margin-right: 10px; }
     .site-header .branding .site-title {
       margin-bottom: 5px;
       font-size: 16px;
       font-size: 1.1428571429em;
       color: white; }
     .site-header .branding .site-description {
       font-size: 10px;
       font-size: 0.7142857143em;
       display: block;
       color: #bfc1c8; }

 .main-navigation {
   float: right; }
   .main-navigation .menu-toggle, .main-navigation .menu {
     vertical-align: middle; }
   .main-navigation .menu-toggle {
     background: none;
     border: 2px solid transparent;
     color: white;
     padding: 20px;
     border-radius: 40px;
     -webkit-transition: .3s ease;
             transition: .3s ease;
     display: none;
     outline: none; }
     .main-navigation .menu .menu-item a:hover{
         text-decoration: none;
     }
     @media screen and (max-width: 990px) {
       .main-navigation .menu-toggle {
         display: inline-block; } }
     .main-navigation .menu-toggle:hover, .main-navigation .menu-toggle:active {
       border-color: #009ad8;
       color: #009ad8; }
   .main-navigation .menu {
     list-style: none;
     display: inline-block;
     *zoom: 1; }
     .main-navigation .menu:after {
       content: " ";
       clear: both;
       display: block;
       overflow: hidden;
       height: 0; }
     @media screen and (max-width: 990px) {
       .main-navigation .menu {
         display: none; } }
     .main-navigation .menu .menu-item {
       float: left;
       margin-left: 10px; }
       .main-navigation .menu .menu-item a {
         padding: 5px 25px;
         border: 2px solid transparent;
         border-radius: 30px;
         color: white;
         -webkit-transition: .3s ease;
                 transition: .3s ease;
         font-weight: 400; }
       .main-navigation .menu .menu-item.current-menu-item a, .main-navigation .menu .menu-item:hover a {
         border-color: #009ad8;
         color: #009ad8; }

 .mobile-navigation {
   padding: 30px 0 0;
   clear: both;
   display: none; }
   @media screen and (min-width: 991px) {
     .mobile-navigation {
       display: none !important; } }
   .mobile-navigation .menu {
     background: #262936;
     list-style: none;
     text-align: center;
     border-radius: 10px;
     overflow: hidden; }
     .mobile-navigation .menu a {
       padding: 20px;
       display: block;
       color: white; }
     .mobile-navigation .menu .menu-item {
       border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
       .mobile-navigation .menu .menu-item:last-child {
         border-bottom: none; }
       .mobile-navigation .menu .menu-item.current-menu-item a {
         color: #009ad8; }

 .hero {
   background-size: cover;
   padding: 70px 0;
   min-height: 350px; }



 .find-location {
   position: relative;
   margin-bottom: 70px;
   }
   .find-location input[type="submit"] {
     position: absolute;
     top: 5px;
     right: 5px;
     bottom: 5px;
     padding: 0 40px; }

 .forecast-container {
     color:white;
   width: 100%;
   background: #323544;
   display: table;
   table-layout: fixed;
   width: 100%;
   overflow: hidden;
   border-radius: 10px;
   margin-top: -150px;
   margin-bottom: 50px; }
   .forecast-container .forecast {
     display: table-cell;
     vertical-align: top; }
     .forecast-container .forecast:nth-child(even) {
       background-color: #262936; }
     @media screen and (max-width: 990px) {
       .forecast-container .forecast {
         display: block;
         width: 16.6667%;
         float: left; } }
     .forecast-container .forecast.today {
       width: 420px; }
       .forecast-container .forecast.today .forecast-header {
         *zoom: 1; }
         .forecast-container .forecast.today .forecast-header:after {
           content: " ";
           clear: both;
           display: block;
           overflow: hidden;
           height: 0; }
         .forecast-container .forecast.today .forecast-header .day {
           float: left; }
         .forecast-container .forecast.today .forecast-header .date {
           float: right; }
       .forecast-container .forecast.today .forecast-content {
         text-align: left;
         padding-top: 30px;
         padding-bottom: 30px; }
       .forecast-container .forecast.today .location {
         font-size: 18px;
         font-size: 1.2857142857em;
         font-weight: 400; }
       .forecast-container .forecast.today .degree .num, .forecast-container .forecast.today .degree .forecast-icon {
         display: inline-block;
         vertical-align: middle; }
       .forecast-container .forecast.today .degree .num {
         font-size: 90px;
         font-size: 6.4285714286rem;
         margin-right: 30px; }
       .forecast-container .forecast.today span {
         margin-right: 20px; }
         .forecast-container .forecast.today span img {
           margin-right: 5px;
           vertical-align: middle; }
       @media screen and (max-width: 990px) {
         .forecast-container .forecast.today {
           display: block;
           width: 100%; } }
     .forecast-container .forecast .forecast-header {
       background: rgba(0, 0, 0, 0.1);
       padding: 10px;
       text-align: center;
       font-weight: 400; }

     .forecast-container .forecast .forecast-content {
       padding: 50px 20px 10px;
       text-align: center; }
       .forecast-container .forecast .forecast-content .forecast-icon {
         margin-bottom: 20px; }


.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.dropdown {

  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show {display: block;}


.dropbtn {
  background-color: #1e202b;
  color: white;
  padding: 7px;
  font-size: 10px;
  border: none;
  height: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#dropimg{
  margin-top: -8px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #009ad8;}
